* {
    margin: 0;
    position: relative;
}

.img{
    width: 50%;
    margin-left:25% ;
}

html,body {
    font-family: 'Balsamiq Sans', cursive;
    background:rgb(254, 216, 82);
    height: 100%;
}

.header {
    background-color:rgb(32, 31, 31);
    color: rgb(247, 240, 152);
    width: 100%;
    margin-bottom: .4rem;
    text-align: center;
    position: relative;
}

.header-title {
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }

.header-subtitle {
    padding: 2%;
    font-size: 1em;
    padding-bottom: 1em;
    color: rgb(247, 240, 152);
}

.main{
    border-radius: 5vw;
    text-align: center;
    margin-top :35%;
    width: 70%;
    margin-left: 15%;
    background-color:rgb(32, 31, 31);
    position: relative;
}



.subtitle{
   padding: 5%;
   font-size: 1.2rem;
   color: rgb(247, 240, 152);
}


#user-id {
    width: 50%; 
    margin: 5%;  
    border: 10% solid #DEDFE0;
    border-radius: 5vw;
    font-size: 0.8em;
    font-weight: 200;
    text-align: center;
}

button {
    margin: 5%;
    margin-bottom: 10%;
    cursor: pointer;
    display: inline-block;
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: rgb(39, 38, 38);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5vw;
    background-image: linear-gradient(to right, rgb(196, 152, 32) 0%,  rgb(254, 216, 82) 51%, rgb(196, 152, 32) 100%);
}


@media (min-width : 600px){
    .header-title {
        font-size: 2em;
        padding: 1%;
    }
    .header-subtitle {
        font-size: 1.5em;
        padding: 1%;
    }
    .main{
        margin-top :12.5%;
        width: 35%;
        margin-left: 32.5%;
    }
    .subtitle{
        font-size: 1.5em;
        padding: 3%;
    }
    input,button{
        font-size: 1em;
        margin: 3%;
        height: 2.5em;
    }
    button{
        margin-bottom: 10%;
    }
    .img{
        width: 20%;
        margin-left:40% ;
    }
    
}